.icon {
  color: #dadae2;
  font-size: 3.5rem;
}
.cover {
  background-color: #f9f9fb;
}
.button {
  background-color: #dadae2;
}
.logo {
  border-radius: 5rem;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  font-size: 5rem;
  color: #dadae2;
}
.text {
  font-size: 2rem;
}
.category {
  font-size: 1.25rem;
}
.createButton {
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(to right, #009999, #7f37c7);
}
.list {
  background-color: #f9f9fb;
}
.notice {
  background-color: #f9f9fb;
  color: #999999;
}
.gear {
  font-size: 2rem;
  color: #cccccc;
}
