.footerContainer {
  border-top: 1px solid #cccccc;
  background: #f9f9fb;
}
.footerMenu {
}
.footerMenu .fmList {
  border-right: 1px solid #ccc;
  font-size: 0.875rem;
  font-weight: 500;
  color: #707070;
}
.footerMenu .fmList:last-child {
  border: none;
}
.footerCopyWrap {
  border-top: 1px solid #ccc;
  color: #999;
}
.footerCopyWrap .footerInner {
  display: flex;
  align-items: flex-start;
}
.footerCopyWrap .footerInner .footerLogo {
  width: 100px;
  margin: 6px 32px 0 0;
}
.footerCopyWrap .footerTxtWrap .corpName {
  font-size: 1rem;
  font-weight: 700;
}

.footerCopyWrap .footerTxtWrap .txt {
  font-size: 0.875rem;
  font-weight: 500;
}
.footerCopyWrap .footerTxtWrap .copyright {
  font-size: 0.75rem;
  font-weight: 700;
  display: block;
  color: #ccc;
}
.footerCopyWrap .directWrap {
  margin-left: auto;
  color: #707070;
}
.footerCopyWrap .directWrap .directMenu {
  border-top: 1px solid #ccc;
}
.footerCopyWrap .directMenu .diList {
  font-size: 0.875rem;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}
