.nav {
  height: 60px;
  padding: 10px;
  background: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px #00000029;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li {
  margin: 5px 15px;
}

.navSpan {
  font: normal normal 500 16px/21px "Noto Sans KR", sans-serif;
  text-align: center;
  color: #707070;
}
.fapplyLogo {
  margin-right: 85px;
}
.navInner {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 60px;
}
